---
import ProjectCard from './ProjectCard.astro';
import { getCollection } from 'astro:content';

let projects = await getCollection('projects');
console.log(projects);
projects = projects.sort((a: any, b: any) => b.data.order - a.data.order);
---

<section class="projects" id="project-section">
  <h2>Personal Projects</h2>
  <div class="projects-grid">
    {projects.map((project: { data: { title: any; image: any; technologies: any; links: any; }; body: any; }) => {
      console.log(project.data.title);
      return (
        <ProjectCard 
          project={{
            name: project.data.title,
            image: project.data.image,
            description: project.body,
            technologies: project.data.technologies,
            links: project.data.links
          }} 
        />
      );
    })}
  </div>
</section>

<style>
  .projects {
    padding: 4rem 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .projects-grid {
    display: grid;
    gap: 2rem;
    place-items: center;
    width: 100%;
  }

  @media (min-width: 1024px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>