---
import WorkExperienceCard from './WorkExperienceCard.astro';
import { getCollection } from 'astro:content';

const experiences = await getCollection('work');
---

<section class="work-experience" id="work-experience-section">
  <h1>Work Experience</h1>
  
  <div class="experience-grid">
    {experiences.map((experience: { data: { title: any; logo: any; position: any; technologies: any; }; body: any; }) => (
      <WorkExperienceCard 
        company={{
          name: experience.data.title,
          logo: experience.data.logo,
          description: experience.body,
          position: experience.data.position,
          technologies: experience.data.technologies
        }} 
      />
    ))}
  </div>
</section>

<style>
  .work-experience {
    padding: 4rem 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .experience-grid {
    display: grid;
    gap: 2rem;
    place-items: center;
    width: 100%;
  }

  @media (min-width: 1024px) {
    .experience-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style> 